<div id="js-mainSlider">
        <div class="mainSlider-preloader"><span class="tt-base-color">Kenguru</span>24</div>
        <div class="mainSlider-wrapper">
            <div class="slick-default main-slider slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 3840px;">
                        <div class="item slick-slide slick-current slick-active" data-slick-index="0"
                             aria-hidden="false"
                             style="width: 1920px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                             tabindex="0">
                            <div class="item_left">
                                <div class="item__img">
                                    <picture>
                                        <source srcset="{% static 'images/mainslide01-01-md.webp'%}" media="(max-width: 1024px)"
                                                type="image/webp">
                                        <source srcset="{% static 'images/mainslide01-01-md.jpg' %}" media="(max-width: 1024px)"
                                                type="image/jpg">
                                        <source srcset="{% static 'images/mainslide01-01.webp' %}" type="image/webp">
                                        <source srcset="{% static 'images/mainslide01-01.jpg' %}" type="image/jpg">
                                        <img src="{% static 'images/mainslide01-01.jpg' %}" alt="">
                                    </picture>
                                </div>
                                <div class="item__content">
                                    <div class="content-align js-rotation"
                                         style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg);">
                                        <h4 class="main-slider__title">Laundry<br> Service</h4>
                                        <p>We Care for the Clothes You Wear</p>
                                        <a href="#" class="tt-btn tt-btn__top" data-toggle="modal"
                                           data-target="#modalMRequestQuote" tabindex="0">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item_right">
                                <div class="item__img">
                                    <picture>
                                        <source srcset="{% static 'images/mainslide01-02-md.webp' %}" media="(max-width: 1024px)"
                                                type="image/webp">
                                        <source srcset="{% static 'images/mainslide01-02-md.jpg' %}" media="(max-width: 1024px)"
                                                type="image/jpg">
                                        <source srcset="{% static 'images/mainslide01-02.webp' %}" type="image/webp">
                                        <source srcset="{% static 'images/mainslide01-02.jpg' %}" type="image/jpg">
                                        <img src="{% static 'images/mainslide01-02.jpg' %}" alt="">
                                    </picture>
                                </div>
                                <div class="item__content">
                                    <div class="content-align js-rotation"
                                         style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg);">
                                        <h4 class="main-slider__title">Dry<br> Cleaning</h4>
                                        <p>Cleaning Excellence Guaranteed!</p>
                                        <a href="#" class="tt-btn tt-btn__top" data-toggle="modal"
                                           data-target="#modalMRequestQuote" tabindex="0">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item slick-slide" data-slick-index="1" aria-hidden="true"
                             style="width: 1920px; position: relative; left: -1920px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1200ms ease 0s;"
                             tabindex="-1">
                            <div class="item_left">
                                <div class="item__img">
                                    <picture>
                                        <source srcset="{% static 'images/mainslide02-01-md.webp' %}" media="(max-width: 1024px)"
                                                type="image/webp">
                                        <source srcset="{% static 'images/mainslide02-01-md.jpg' %}" media="(max-width: 1024px)"
                                                type="image/jpg">
                                        <source srcset="{% static 'images/mainslide02-01.webp' %}" type="image/webp">
                                        <source srcset="{% static 'images/mainslide02-01.jpg' %}" type="image/jpg">
                                        <img src="{% static 'images/mainslide02-01.jpg' %}" alt="">
                                    </picture>
                                </div>
                                <div class="item__content">
                                    <div class="content-align js-rotation" style="will-change: transform;">
                                        <h4 class="main-slider__title">Laundry<br> Service</h4>
                                        <p>We Care for the Clothes You Wear</p>
                                        <a href="#" class="tt-btn tt-btn__top" data-toggle="modal"
                                           data-target="#modalMRequestQuote" tabindex="-1">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item_right">
                                <div class="item__img">
                                    <picture>
                                        <source srcset="{% static 'images/mainslide02-02-md.webp' %}" media="(max-width: 1024px)"
                                                type="image/webp">
                                        <source srcset="{% static 'images/mainslide02-02-md.jpg' %}" media="(max-width: 1024px)"
                                                type="image/jpg">
                                        <source srcset="{% static 'images/mainslide02-02.webp' %}" type="image/webp">
                                        <source srcset="{% static 'images/mainslide02-02.jpg' %}" type="image/jpg">
                                        <img src="{% static 'images/mainslide02-02.jpg' %}" alt="">
                                    </picture>
                                </div>
                                <div class="item__content">
                                    <div class="js-rotation content-align">
                                        <h4 class="main-slider__title">Dry<br> Cleaning</h4>
                                        <p>Cleaning Excellence Guaranteed!</p>
                                        <a href="#" class="tt-btn tt-btn__top" data-toggle="modal"
                                           data-target="#modalMRequestQuote" tabindex="-1">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bubbles-container start" id="bubbles">
                <div style="top: 60.3%; margin-left: -2.1%;">
                    <img src="{% static 'images/bubbles-06.png' %}" class="bubbles-response-03" alt="">
                </div>
                <div style="top: 52.3%; margin-left: -5.3%;">
                    <img src="{% static 'images/stars-01.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 39.5%; margin-left: 0.7%;">
                    <img src="{% static 'images/bubbles-03.png' %}" class="bubbles-response-03" alt="">
                </div>
                <div style="top: 26.5%; margin-left: -3.8%;">
                    <img src="{% static 'images/bubbles-05.png' %}" alt="">
                </div>
                <div style="top: 11.4%; margin-left: 0.7%;">
                    <img src="{% static 'images/bubbles-01.png' %}" class="bubbles-response-01" alt="">
                </div>
                <div style="top: 81%; margin-left: -1.5%;">
                    <img src="{% static 'images/bubbles-07.png' %}" alt="">
                </div>
                <div style="top: 54.8%; margin-left: -2.3%;">
                    <img src="{% static 'images/bubbles-09.png' %}" alt="">
                </div>
                <div style="top: 8.9%; margin-left: -3.1%;">
                    <img src="{% static 'images/stars-02.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 68.2%; margin-left: 1.3%;">
                    <img src="{% static 'images/bubbles-10.png' %}" alt="">
                </div>
                <div style="top: 67.2%; margin-left: 0.1%;">
                    <img src="{% static 'images/bubbles-02.png' %}" class="bubbles-response-02" alt="">
                </div>
                <div style="top: 77.2%; margin-left: 1.2%;">
                    <img src="{% static 'images/bubbles-11.png' %}" alt="">
                </div>
                <div style="top: 7.2%; margin-left: -6.3%;">
                    <img src="{% static 'images/stars-03.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 7.8%; margin-left: 4.1%;">
                    <img src="{% static 'images/bubbles-08.png' %}" alt="">
                </div>
                <div style="top: 6.7%; margin-left: 2.3%;">
                    <img src="{% static 'images/stars-04.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 38.5%; margin-left: -2.5%;">
                    <img src="{% static 'images/stars-06.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 83.5%; margin-left: 5.4%;">
                    <img src="{% static 'images/stars-07.png' %}" class="bubbles-stars" alt="">
                </div>
                <div style="top: 16.5%; margin-left: 5.5%;">
                    <img src="{% static 'images/stars-05.png' %}" class="bubbles-stars" alt="">
                </div>
            </div>
        </div>
    </div>