{% load static %}

<div class="slick-default main-slider">
	<div class="item">
		<div class="item_top">
			<div class="item__img">
				<picture>
					<source srcset="{% static 'images/mainslide01-01-sm.webp' %}" media="(max-width: 650px)" type="image/webp">
					<source srcset="{% static 'images/mainslide01-01-sm.jpg' %}" media="(max-width: 650px)" type="image/jpg">
					<source srcset="{% static 'images/mainslide01-01-md.webp' %}" media="(max-width: 1024px)" type="image/webp">
					<source srcset="{% static 'images/mainslide01-01-md.jpg' %}" media="(max-width: 1024px)" type="image/jpg">
					<img src="{% static 'images/mainslide01-01-md.jpg' %}" alt="">
				</picture>
			</div>
			<div class="item__content">
				<div class="content-align js-rotation">
					<h4 class="main-slider__title">Услуги <br> химчистки</h4>
					<p>Мы заботимся о вашей одежде</p>
					<a href="#" class="tt-btn tt-btn__top" data-toggle="modal" data-target="#modalMRequestQuote">
						<span class="mask">Оставить заявку</span>
						<div class="button">Оставить заявку</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="item_top">
			<div class="item__img">
				<picture>
					<source srcset="{% static 'images/mainslide01-02-md.jpg' %}" media="(max-width: 650px)" type="image/webp">
					<source srcset="{% static 'images/mainslide01-02-sm.jpg' %}" media="(max-width: 650px)" type="image/jpg">
					<source srcset="{% static 'images/mainslide01-02-md.webp' %}" media="(max-width: 1024px)" type="image/webp">
					<source srcset="{% static 'images/mainslide01-02-md.jpg' %}" media="(max-width: 1024px)" type="image/jpg">
					<img src="{% static 'images/mainslide01-02-md.jpg' %}" alt="">
				</picture>
			</div>
			<div class="item__content">
				<div class="content-align js-rotation">
					<h4 class="main-slider__title">Услуги <br> химчистки</h4>
					<p>Гарантия блестящей чистоты!</p>
					<a href="#" class="tt-btn tt-btn__top" data-toggle="modal" data-target="#modalMRequestQuote">
						<span class="mask">Оставить заявку</span>
						<div class="button">Оставить заявку</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="item_top">
			<div class="item__img">
				<picture>
					<source srcset="{% static 'images/mainslide02-01-sm.webp' %}" media="(max-width: 650px)" type="image/webp">
					<source srcset="{% static 'images/mainslide02-01-sm.jpg' %}" media="(max-width: 650px)" type="image/jpg">
					<source srcset="{% static 'images/mainslide02-01-md.webp' %}" media="(max-width: 1024px)" type="image/webp">
					<source srcset="{% static 'images/mainslide02-01-md.jpg' %}" media="(max-width: 1024px)" type="image/jpg">
					<img src="{% static 'images/mainslide02-01-md.jpg' %}" alt="">
				</picture>
			</div>
			<div class="item__content">
				<div class="content-align js-rotation">
					<h4 class="main-slider__title">Услуги <br> химчистки</h4>
					<p>Мы заботимся о вашей одежде</p>
					<a href="#" class="tt-btn tt-btn__top" data-toggle="modal" data-target="#modalMRequestQuote">
						<span class="mask">Оставить заявку</span>
						<div class="button">Оставить заявку</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="item_top">
			<div class="item__img">
				<picture>
					<source srcset="{% static 'images/mainslide02-02-sm.webp' %}" media="(max-width: 650px)" type="image/webp">
					<source srcset="{% static 'images/mainslide02-02-sm.jpg' %}" media="(max-width: 650px)" type="image/jpg">
					<source srcset="{% static 'images/mainslide02-02-md.webp' %}" media="(max-width: 1024px)" type="image/webp">
					<source srcset="{% static 'images/mainslide02-02-md.jpg' %}" media="(max-width: 1024px)" type="image/jpg">
					<img src="{% static 'images/mainslide02-02-md.jpg' %}" alt="">
				</picture>
			</div>
			<div class="item__content">
				<div class="js-rotation content-align">
					<h4 class="main-slider__title">Услуги <br> химчистки</h4>
					<p>Гарантия блестящей чистоты!</p>
					<a href="#" class="tt-btn tt-btn__top" data-toggle="modal" data-target="#modalMRequestQuote">
						<span class="mask">Оставить заявку</span>
						<div class="button">Оставить заявку</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bubbles-container-mobile" id="bubbles">
	<div style="top: 8.9%; margin-left: 3%;">
		<img src="{% static 'images/bubbles-03.png' %}" class="bubbles-stars" alt="">
	</div>
	<div style="top: 7.2%; margin-left: 50%;">
		<img src="{% static 'images/bubbles-07.png' %}" class="bubbles-stars" alt="">
	</div>
	<div style="top: 26.7%; margin-left: 80%;">
		<img src="{% static 'images/stars-04.png' %}" class="bubbles-stars" alt="">
	</div>
	<div style="top: 55.5%; margin-left: 5%;">
		<img src="{% static 'images/stars-06.png' %}" class="bubbles-stars" alt="">
	</div>
	<div style="top: 85%; margin-left: 70%;">
		<img src="{% static 'images/stars-07.png' %}" class="bubbles-stars" alt="">
	</div>
	<div style="top: 56.5%; margin-left: 80%;">
		<img src="{% static 'images/stars-05.png' %}" class="bubbles-stars" alt="">
	</div>
</div>